<h2 class="center">Editer {{ pokemon?.name }}</h2>
<p *ngIf="pokemon" class="center">
  <img [src]="pokemon.picture" alt="" />
</p>
<app-pokemon-form *ngIf="pokemon" [pokemon]="pokemon"></app-pokemon-form>