<div class="pokemon-grid">
  <div class="box" 
  *ngFor="let pokemon of pokemons| paginate : { itemsPerPage: 10, currentPage: page, totalItems: totalPokemons }">
    <img [src]="pokemon.sprites.front_shiny" alt="Pokemon">
    <h3> {{ pokemon.name }} </h3>
    <p>
      <b>Type:</b> {{ pokemon.types[0].type.name }}
    </p>
    <p>
      <b>Height:</b> {{ pokemon.height }}
    </p>
    <p>
      <b>Health:</b> {{ pokemon.stats[0].base_stat }}
    </p>
    <p>
      <b>Attack Power:</b> {{ pokemon.stats[1].base_stat }}
    </p>
  </div>
</div>

<div class="custom-pagination">
<pagination-controls style="

    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
" 

(pageChange)="page = $event; pokemons = []; getPokemons()" ></pagination-controls>
</div>

