.pokemon-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    grid-gap: 16px;
    padding: 20px;
}

.pokemon-grid .box {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
}

.pokemon-grid .box img {
    max-width: 100px;
    margin: 0 auto;
    display: block;
}

.pokemon-grid .box .title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}
.custom-pagination .page-number{
    display: inline-block;
    /* padding: 5px 12px; */
    background: #afffe6;
    margin: 0px 4px;
    border-radius: 25px;
}

.page-number.current{
    background: #ffffff!important;
    border: 2px solid #458873;
}

.page-number span{
    display: block;
    width: 28px;
    height: 28px;
    font-size: 18px;
    cursor: pointer;
}

.pagination-previous,.pagination-next{
    display: inline-block;
    font-weight: bold;
}