<header class="header-6">
  <div class="branding">
    <a href="#" class="nav-link">
      <div class="content-area">
        <cds-icon shape="axis-chart"></cds-icon>
        <span class="title center">Pokemon - Angular</span>
      </div>
    </a>
  </div>
</header>

<router-outlet></router-outlet>
