.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
}  

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

* {
    font-family: Metropolis, Helvetica, sans-serif;
  }